@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

.neon {
    font-family: 'Rubik Glitch', cursive;
    font-size: 30px!important;
    color: #ffffff;
    text-shadow: 1px 0px 4px #FDCB9E, 2px 0px 4px #FDCB9E, 3px 0px 4px #FDCB9E,
      2px 0px 3px #00B7C2, 2px 3px 15px #00B7C2, 2px 0px 15px, 5px 0px 125px,
      20px 0vw 200px #00B7C2;
}

.flicker-slow {
    animation: flicker 3s linear infinite;
  }
  
.flicker-fast {
    animation: flicker 1s linear infinite;
}
  
@keyframes flicker {
    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
      opacity: 0.99;
    }
    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
      opacity: 0.4;
    }
}
  
.navbar1{
  background: rgba(253, 252, 252, 0.21);
}

.fondo-form{
  background-color: #1B262C;
}

.color-texto{
  /*  color: #FDCB9E;*/
  color: #ffffff;
}

.boton{
    background-color: #00B7C2!important;
    border: 1px solid #00B7C2!important;
}

.position {
  bottom: 0;
  left: 0;
  width: 100%;
}

.enlace{
  text-decoration: none!important;
}

.linea {
  border-top: 1px solid whitesmoke;
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin: 10px 0px;
}